<div class="container-fluid">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
            <mat-drawer-container class="example-container" autosize>
              <mat-drawer #drawer class="example-sidenav" mode="side">
              </mat-drawer>
        
              <div class="example-sidenav-content">
                <button type="button" mat-raised-button (click)="drawer.toggle()" align-items="end" color="info" style="padding:'10px';align:'right';height: 20px';">
                  Show sidenav
                </button>
              </div>
            <mat-grid-list class="example-full-width" cols="9" rowHeight="150px">
              <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-name-label">Patient Name:&nbsp;&nbsp;&nbsp;</label>
            <mat-form-field class="example-form-field">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required/>
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field >
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
              <label id="user-gender-label">Gender: &nbsp;&nbsp;&nbsp;</label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                      [(ngModel)]="gender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gen of gender" [value]="gen">
                  {{gen}}
                    </mat-radio-button>
              </mat-radio-group>  
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
            <label id="user-dob-label">Date Of Birth:&nbsp;&nbsp;&nbsp;</label>
            <mat-form-field class="example-form-field">             
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            </mat-grid-tile>
            </mat-grid-list>
            
            <br/>
                         
            <mat-grid-list class="example-full-width" cols="9" rowHeight="150px">
              <mat-grid-tile  [colspan]="tiles[2].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-address-label">Address:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" placeholder="Ex. 100 Main St"></textarea>
              </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-city-label">City:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                  <mat-label>City</mat-label>
                  <input matInput placeholder="Ex. San Francisco">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-state-label">State:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="Ex. California">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-postal-code-label">Zip Code:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                  <mat-label>Postal Code</mat-label>
                  <input matInput #postalCode maxlength="6" placeholder="Ex. 560001" required>
                  <mat-hint align="end">{{postalCode.value.length}} / 6</mat-hint>
                </mat-form-field>
              </mat-grid-tile>
            </mat-grid-list>
          <br/>
            <mat-grid-list class="example-full-width" cols="9" rowHeight="150px">
              <mat-grid-tile  [colspan]="tiles[2].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
               <label id="user-email-label">E-mail:&nbsp;&nbsp;&nbsp;</label><br/>
               <mat-form-field class="example-form-field">
                  <mat-label>Email</mat-label>
                  <input matInput [formControl]="emailFormControl" placeholder="Ex. user@example.com" required>
                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a valid email address
                  </mat-error>
                  <mat-error *ngIf="emailFormControl.hasError('required')">
                   Email is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile  [colspan]="tiles[2].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                  <label id="user-mobile-number-label">Mobile Number:&nbsp;&nbsp;&nbsp;</label><br/>
                  <mat-form-field class="example-form-field">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput matInput #phoneNumber maxlength="10" placeholder="Ex. +91-123-456-7890" required>
                    <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
                    <mat-error *ngIf="phoneFormControl.hasError('email') && !phoneFormControl.hasError('required')">
                      Please enter a valid phone number
                    </mat-error>
                    <mat-error *ngIf="phoneFormControl.hasError('required')">
                     Phone Number is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                  </mat-grid-tile>
                
                  <mat-grid-tile  [colspan]="tiles[2].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                    <label id="user-residence-number-label">Residence Number:&nbsp;&nbsp;&nbsp;</label><br/>
                    <mat-form-field class="example-form-field">
                      <mat-label>Residence Number</mat-label>
                      <input matInput matInput #phoneNumber maxlength="10" placeholder="Ex. +91-123-456-7890" required>
                      <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
                      <mat-error *ngIf="phoneFormControl.hasError('email') && !phoneFormControl.hasError('required')">
                        Please enter a valid phone number
                      </mat-error>
                      <mat-error *ngIf="phoneFormControl.hasError('required')">
                       Phone Number is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                    </mat-grid-tile>  

                </mat-grid-list>
            
            <br/>
            
            <div class="example-button-row">
              <button mat-raised-button matStepperNext width="200px" color="primary">Submit</button>
              <button mat-raised-button (click)="stepper.reset()" width="200px" color="warn">Cancel</button>
            </div>
        
        </mat-drawer-container>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Symptom Details</ng-template>
            <mat-drawer-container class="example-container">
            <h1>Enter your Symptoms</h1><br/>
            <mat-form-field class="example-chip-list" autosize>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
                
              </mat-autocomplete>
            </mat-form-field>
            <h1>Enter your Disease (Optional)</h1><br/>
            <mat-form-field class="example-chip-list" autosize>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="New fruit..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
                
              </mat-autocomplete>
            </mat-form-field>
            <div class="example-button-row">
              <button mat-raised-button matStepperNext width="200px" color="primary">Submit</button>
              <button mat-raised-button matStepperPrevious width="200px" color="warn">Cancel</button>
            </div>
            </mat-drawer-container>
            
            
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Medical History</ng-template>
            <mat-form-field>
              <mat-label>Medical History(if Any)</mat-label>
              <input matInput formControlName="thirdCtrl" placeholder="Enter Medical History">
            </mat-form-field>
            <div class="example-button-row">
              <button mat-raised-button matStepperNext width="200px" color="primary">Submit</button>
              <button mat-raised-button matStepperPrevious width="200px" color="warn">Cancel</button>
              <button mat-raised-button matStepperNext width="1000px" color="warn">Skip This >></button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Result</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
