<div class="container-fluid">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Personal Details</ng-template>
            <mat-drawer-container class="example-container" autosize>
              <mat-drawer #drawer class="example-sidenav" mode="side">
              </mat-drawer>
        
              <div class="example-sidenav-content">
                <button class="btn btn-info" type="button" (click)="drawer.toggle()" align-items="end" color="info" style="padding:'10px';align:'right';height: 20px';">
                  <mat-icon>fast_rewind</mat-icon>
                </button>
              </div>
            <mat-grid-list class="example-full-width" cols="9" rowHeight="150px" padding="20px">
              <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-name-label">Patient Name:&nbsp;&nbsp;&nbsp;</label>
            <mat-form-field class="example-form-field">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Last name, First name" formControlName="patientName"/>
              <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field >
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
              <label id="user-gender-label">Gender: &nbsp;&nbsp;&nbsp;</label>
              <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="patientGender">
                    <mat-radio-button class="example-radio-button" *ngFor="let gen of gender" [value]="gen">
                  {{gen}}
                    </mat-radio-button>
              </mat-radio-group>  
            </mat-grid-tile>
            <mat-grid-tile  [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
            <label id="user-dob-label">Date Of Birth:&nbsp;&nbsp;&nbsp;</label>
            <mat-form-field class="example-form-field">             
              <mat-label>Date of Birth</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="patientDOB">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
            </mat-grid-tile>
            </mat-grid-list>
            
            <br/>
                         
            <mat-grid-list class="example-full-width" cols="10" rowHeight="150px">
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-address-label"><mat-icon>opacity</mat-icon>&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-full-width">
                <mat-label>Bloodgroup</mat-label>
                <mat-select formControlName="patientBloodGroup"> 
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let blood of bloodGroup" [value]="blood" >{{blood}}</mat-option>
                </mat-select>
              </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-city-label">Height:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                  <mat-label>Height</mat-label>
                  <input matInput placeholder="Ex. 5Feet 3Inches" formControlName="patientHeight">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-state-label">Weight&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                  <mat-label>Weight</mat-label>
                  <input matInput placeholder="Ex. 80Kgs" formControlName="patientWeight">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                <label id="user-email-label"><mat-icon>email</mat-icon>:&nbsp;&nbsp;&nbsp;</label><br/>
                <mat-form-field class="example-form-field">
                   <mat-label>Email</mat-label>
                   <input matInput [formControl]="emailFormControl" placeholder="Ex. user@example.com" formControlName="patientEmailAddress">
                   <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                     Please enter a valid email address
                   </mat-error>
                   <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email is <strong>required</strong>
                   </mat-error>
                 </mat-form-field>
                 </mat-grid-tile>
 
                 <mat-grid-tile  [colspan]="tiles[3].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color" class="example-tile-style">
                   <label id="user-mobile-number-label"><mat-icon> call</mat-icon>:&nbsp;&nbsp;&nbsp;</label><br/>
                   <mat-form-field class="example-form-field">
                     <mat-label>Mobile Number</mat-label>
                     <input matInput matInput #phoneNumber maxlength="10" placeholder="Ex. +91-123-456-7890" formControlName="patientPhoneNumber">
                     <mat-hint align="end">{{phoneNumber.value.length}} / 10</mat-hint>
                     <mat-error *ngIf="phoneFormControl.hasError('email') && !phoneFormControl.hasError('required')">
                       Please enter a valid phone number
                     </mat-error>
                     <mat-error *ngIf="phoneFormControl.hasError('required')">
                      Phone Number is <strong>required</strong>
                     </mat-error>
                   </mat-form-field>
                   </mat-grid-tile>
            </mat-grid-list>
          <br/>
           
            
            <br/>
            
            <div class="example-button-row">
              <button mat-raised-button matStepperNext width="200px" color="primary" (click)="getPatientData()">Submit</button>
              <button mat-raised-button (click)="stepper.reset()" width="200px" color="warn">Cancel</button>
            </div>
            <br/><br/><br/>
        </mat-drawer-container>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Symptom Details</ng-template>
            <mat-drawer-container class="example-container">
            <h1>Enter your Symptoms</h1><br/>
            <mat-form-field class="example-chip-list" autosize>
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input [(ngModel)]="patientDiseaseArray" placeholder="Enter Disease..." #diseaseInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"/>
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit}}
                </mat-option>
                
              </mat-autocomplete>
            </mat-form-field>
          <br/>
            <div class="example-button-row">
              <button mat-raised-button matStepperNext width="200px" color="primary">Submit</button>
              <button mat-raised-button matStepperPrevious width="200px" color="warn">Cancel</button>
            </div>
            <br/> <br/> <br/>
            </mat-drawer-container>
            
            
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Medical History</ng-template>
            <mat-drawer-container class="example-container">
              <h1>Any Underlying Condition ? (E.g: Diabetes, Hypertension)</h1>
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." formControlName="underLyingConditions"></textarea>
              </mat-form-field>
              <h1>Underwent Any Surgeries ?</h1>
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." formControlName="anySurgeries"></textarea>
              </mat-form-field>
              <h1>Taking Any Medications ?</h1>
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." formControlName="anyMedications"></textarea>
              </mat-form-field>
              <h1>Any Details we need to know ?</h1>
              <mat-form-field class="example-full-width">
                <mat-label>Your Description here</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..." formControlName="otherDetails"></textarea>
              </mat-form-field>
              <br/>
              <div class="example-button-row">
                <button mat-raised-button matStepperNext width="200px" color="primary" (click)="getMedicalHistory()">Submit</button>
                <button mat-raised-button matStepperPrevious width="200px" color="warn">Cancel</button>
                <button mat-raised-button matStepperNext width="1000px" color="warn">Skip This >></button>
              </div>
              <br/><br/><br/>
            </mat-drawer-container>
            
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Report</ng-template>
          <mat-drawer-container class="example-container">
            <h1>Diagnosis Report</h1>
            <mat-divider></mat-divider><br/><br/><br/>
            <h3><b>Your Personal Details</b></h3><mat-divider></mat-divider>
            <table>
              <tr>
                <th>Name:</th>
                <th>Gender:</th>
                <th>Date Of Birth:</th>
              </tr>
              <tr>
                <td>{{this.patientArray[0]}}</td>
                <td>{{this.patientArray[1]}}</td>
                <td>{{this.patientArray[2]}}</td>
              </tr>
            </table>
            <br/><br/><br/>
                <table>
                  <tr>
                  <th>Blood Group</th>
                  <th>Height</th>
                  <th>Weight</th>
                  </tr>
                  <tr>
                    <td>{{this.patientArray[3]}}</td>
                    <td>{{this.patientArray[4]}}</td>
                    <td>{{this.patientArray[5]}}</td>
                  </tr>
                  </table>
                    <br/><br/><br/>
                    <table>
                      <tr>
                        <th>Email Address</th>
                        <th>Contact Number</th>
                      </tr>
                      <tr>
                        <td>{{this.patientArray[6]}}</td>
                        <td>{{this.patientArray[7]}}</td>
                      </tr>
                      </table>
                  
            <br/><br/><br/>
            <h3><b>Analysis</b></h3><mat-divider></mat-divider>
            <table>
              <tr>
              <td><b>Symptom's Provided</b></td>
              <td>
                <ul *ngFor="let dis of this.fruits" style="list-style: none;">
                  <li>{{dis}}</li>
                </ul>
              </td>
                </tr>
              </table>
              <br/><br/>
              <mat-divider></mat-divider>
              <table>
                <tr>
                  <th>Under-Lying Conditions</th>
                  <th>Any Surgeries</th>
                  <th>Any Medications</th>
                  <th>Other Details</th>
                </tr>
                <tr>
                <td>{{this.patientArray[8]}}</td>
                <td>{{this.patientArray[9]}}</td>
                <td>{{this.patientArray[10]}}</td>
                <td>{{this.patientArray[11]}}</td>
                  </tr>
                </table>            
            <br/><br/><br/>
                  <h3><b>Our Recommendation</b></h3><mat-divider></mat-divider>
                    <table>
                      <tr>
                        <th>Disease</th>
                        <th>Symptom</th>
                        <th>Medication</th>
                        <th>Treatment Description</th>
                        <th>Duration of Medication</th>
                      </tr>
                      <tr *ngFor="let med of this.treamentProtocol">
                        <td>{{med.diseaseName}}</td>
                        <td>{{med.symptomName}}</td>
                        <td>{{med.medicineName}}</td>
                        <td>{{med.medicineDescription}}</td>
                        <td>{{med.medicineDuration}}</td>
                      </tr>
                    </table>
            <br/><br/><br/>
          <div class="example-button-row">
            <button mat-raised-button matStepperPrevious width="200px" color="primary" (click)="clearForms()">Back</button>
            <button mat-raised-button (click)="stepper.reset()" color="warn"><mat-icon>home</mat-icon> Take me Home</button>
          </div>
          <br/><br/><br/>
          </mat-drawer-container>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
